input[name="nome"], input[name="email"] {
    width: 200px;
}
input[name="datanasc"], input[name="telefone"] {
    width: 160px;
}
input[name="senha"] {
    width: 172px;
}

#login-btn {
    margin-top: 10px;
    text-align: center;
}

.msg-erro {
    position: absolute;
    top: 15px;
    right: 0px;
    border-radius: 15px 0 0 15px;
    box-sizing: border-box;
    z-index: 10;
    margin-bottom: 0;
}